<?xml version="1.0" encoding="UTF-8" ?>
<apps>
	<app>
		<aname>com.example.application0</aname>
		<threads>
			<thread>
				<tname>Thread-1</tname>
				<delaypoints>
					<delaypoint>
						<class>android.os.MessageQueue</class>
						<method>enqueueMessage</method>
						<loc>500</loc>
						<delay>1000</delay>
					</delaypoint>
					<delaypoint>
						<class>android.app.Activity</class>
						<method>onCreate</method>
						<loc>250</loc>
						<delay>500</delay>
					</delaypoint>
				</delaypoints>
			</thread>
		</threads>
	</app>
	<app>
		<aname>com.example.application1</aname>
		<threads>
			<thread>
				<tname>Thread-3</tname>
				<delaypoints>
					<delaypoint>
						<class>android.util.DelayMap</class>
						<method>insertDelayPoint</method>
						<loc>50</loc>
						<delay>150</delay>
					</delaypoint>
				</delaypoints>
			</thread>
			<thread>
				<tname>Thread-1</tname>
				<delaypoints>
					<delaypoint>
						<class>android.util.DelayConfigHelper</class>
						<method>readConfig</method>
						<loc>50</loc>
						<delay>200</delay>
					</delaypoint>
				</delaypoints>
			</thread>
		</threads>
	</app>
</apps>
